body {
    margin: 4px;
    background-color: rgb(43, 54, 75);
    color: rgb(247, 239, 239);
}
div {
    border: 1px solid aliceblue;
}
.TestDiv {
    padding: 10px;
    text-align: center;
    margin-left: 8px;
    font-family: Courier;
}

#OtherTestDiv {
    text-align: center;
    margin-left: 8px;
    font-family: Courier;
    color: blueviolet;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: Courier;
    font-size: 14px;
}

a {
    color: rgb(247, 239, 239);
    font-size: 14px;
}

img {
    align-items: center;
}