:root {
    --border-radius: 10px;
}

body {
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

/*Styling cards*/
.card {
    margin: 0.35rem auto;
    border-radius: var(--border-radius);
    height: 20vh;
    width: 80vw;
    background-color: var(--card-color);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 12px 0 rgba(236, 231, 231, 0.3);
}
img {
    height: 100%;
    width: 25%;
    position: absolute;
    transform: 0% -50%;
    transform: scale(1.01);
    object-fit: cover;
    border-radius: var(--border-radius) 0px 0px var(--border-radius); 
}
.text-wrapper {
    align-items: center;
    margin: auto;
    float: left;
    color: var(--dark-text);
}
.text-wrapper > h2 {
    text-decoration: underline;
}