:root {
    --bg-color: #232946;
    --light-bg-color: #b8c1ec;
    --btn-color: #eebbc3;
    --btn-hover-color: #bd9097;
    --card-color: #FFFDD0;
    --dark-text: #232946;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: var(--bg-color);
    color: aliceblue;
    overflow: hidden;
    font-family: 'Rubik';
}

/* Styling the navbar*/
#navbar-container {
    margin: 0 0 4px 0;
    color: aliceblue;
}
.navbar-brand {
    padding: 0rem 1.5rem;
}

/* Styling the main container*/
#form-container {
    margin: 3rem auto;
    padding: 2rem;
    width: fit-content;
    border: 1px white;
    background-color: var(--light-bg-color);
    color: var(--dark-text);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
form {
    margin: 3rem 0 0;
    display: table;
    align-items: center;
    margin: auto;
}
input {
    border-radius: 4px;
    display: block;
    float: right;
    margin: 0 0 0 2rem;
    text-align: center;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.15);
}
button {
    border-radius: 6px;
    margin: 2rem;
    background-color: var(--btn-color);
    color: var(--dark-text);
}