body {
    background-color: rgb(25, 135, 172);
}

h1 {
    color: rgb(247, 239, 239);
    text-align: center;
    margin-left: 8px;
    font-size: 30px;
}

p {
    font-family: Courier;
    font-size: 22px;
}