:root {
    --bg-color: #232946;
    --light-bg-color: #b8c1ec;
    --btn-color: #eebbc3;
    --btn-hover-color: #bd9097;
    --card-color: #FFFDD0;
    --dark-text: #232946;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: var(--bg-color);
    color: aliceblue;
    overflow: hidden;
    font-family: 'Rubik';
}

/* Styling the navbar*/
#navbar-container {
    margin: 0 0 4px 0;
    color: aliceblue;
}
.navbar-brand {
    padding: 0rem 1.5rem;
}
.nav-item {
    border-right: 1px aliceblue;
}