:root {
    --bg-color: #232946;
    --light-bg-color: #b8c1ec;
    --alt-bg-color: #429E9D;
    --btn-color: #eebbc3;
    --btn-hover-color: #bd9097;
    --card-color: #FFFDD0;
    --dark-text: #232946;
}

#wrapper {
    background-image: url('../images/bg-image.svg'); /*Background sourced from www.svgbackgrounds.com*/
    background-color: var(--bg-color);
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: aliceblue;
    overflow: hidden;
    font-family: 'Rubik';
}

/* Styling the navbar*/
.navbar-brand {
    padding: 0rem 1.5rem;
}