/*Styling overall form*/
#form-container {
    margin: 3rem auto;
    padding: 2rem;
    width: fit-content;
    border: 1px white;
    background-color: var(--light-bg-color);
    color: var(--dark-text);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(238, 236, 236, 0.3), inset 3px 4px 8px 4px rgba(0,0,0,0.3) ;
}
form {
    margin: 3rem 0 0;
    display: table;
    align-items: center;
    margin: auto;
    max-width: 1400px;
    width: 40vw;
}
.input-wrapper {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: 4px;
    max-width: 90%;
}

/*Styling specific inputs*/
::placeholder {
    text-align: center;
}
input {
    width: 50%;
    margin: auto;
}
#address, #message {
    border-radius: 6px;
    max-width: none;
    resize: none;
}
#message {
    height: 180px;
}

/*Styling the button*/
#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem auto;
}
button {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background-color: var(--btn-color);
    color: var(--dark-text);
}
button:hover {
    background-color: var(--btn-hover-color);
    transition: ease 250ms;
}