#form-container {
    margin: 3rem auto;
    padding: 2rem;
    width: fit-content;
    border: 1px white;
    background-color: var(--light-bg-color);
    color: var(--dark-text);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
form {
    margin: 3rem 0 0;
    display: table;
    align-items: center;
    margin: auto;
}
input {
    border-radius: 4px;
    display: block;
    float: right;
    margin: 0 0 0 2rem;
    text-align: center;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.15);
}
/*Styling the button*/
#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem auto;
}
button {
    border-radius: 6px;
    background-color: var(--btn-color);
    color: var(--dark-text);
}
button:hover {
    background-color: var(--btn-hover-color);
    transition: ease 250ms;
}