body {
    inherits: none;
}

.body-content {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
}
.text-wrapper {
    width: 66%;
    margin: 1rem;
    border-radius: 6px;
    text-align: center;
    background-color: var(--light-bg-color);
    color: var(--dark-text);
}
.text-wrapper > h1 {
    text-decoration: underline;
}

.image-wrapper {
    width: 33%;
    margin: 1rem;
    
}

.image-wrapper > img {
    height: 33%;
    width: 100%;
    object-fit: contain;
    background-color: var(--alt-bg-color);
    border-radius: 6px;
    margin: 4px;
}